/*****************************************************************************
  Class06Practice
******************************************************************************/
* {
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, #EEE 0, #EEE 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #EEE 8.5298%, #EEE 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #EEE 17.05961%, #EEE 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #EEE 25.58941%, #EEE 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #EEE 34.11922%, #EEE 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #EEE 42.64902%, #EEE 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #EEE 51.17883%, #EEE 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #EEE 59.70863%, #EEE 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #EEE 68.23843%, #EEE 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #EEE 76.76824%, #EEE 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #EEE 85.29804%, #EEE 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #EEE 93.82785%, #EEE 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, #EEE 0, #EEE 6.17215%, rgba(0, 0, 0, 0) 6.17215%, rgba(0, 0, 0, 0) 8.5298%, #EEE 8.5298%, #EEE 14.70196%, rgba(0, 0, 0, 0) 14.70196%, rgba(0, 0, 0, 0) 17.05961%, #EEE 17.05961%, #EEE 23.23176%, rgba(0, 0, 0, 0) 23.23176%, rgba(0, 0, 0, 0) 25.58941%, #EEE 25.58941%, #EEE 31.76157%, rgba(0, 0, 0, 0) 31.76157%, rgba(0, 0, 0, 0) 34.11922%, #EEE 34.11922%, #EEE 40.29137%, rgba(0, 0, 0, 0) 40.29137%, rgba(0, 0, 0, 0) 42.64902%, #EEE 42.64902%, #EEE 48.82117%, rgba(0, 0, 0, 0) 48.82117%, rgba(0, 0, 0, 0) 51.17883%, #EEE 51.17883%, #EEE 57.35098%, rgba(0, 0, 0, 0) 57.35098%, rgba(0, 0, 0, 0) 59.70863%, #EEE 59.70863%, #EEE 65.88078%, rgba(0, 0, 0, 0) 65.88078%, rgba(0, 0, 0, 0) 68.23843%, #EEE 68.23843%, #EEE 74.41059%, rgba(0, 0, 0, 0) 74.41059%, rgba(0, 0, 0, 0) 76.76824%, #EEE 76.76824%, #EEE 82.94039%, rgba(0, 0, 0, 0) 82.94039%, rgba(0, 0, 0, 0) 85.29804%, #EEE 85.29804%, #EEE 91.4702%, rgba(0, 0, 0, 0) 91.4702%, rgba(0, 0, 0, 0) 93.82785%, #EEE 93.82785%, #EEE 100%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }

/*****************************************************************************
 Variables
******************************************************************************/
/* COLORS */
/* FONTS */
/*****************************************************************************
 Omega Reset
******************************************************************************/
/*****************************************************************************
  Base Styles
******************************************************************************/
img {
  max-width: 100%; }

html, body {
  margin: 0 2px;
  padding: 0; }

/*****************************************************************************
  Layout Styles
******************************************************************************/
/*****************************************************************************
  Module Styles
******************************************************************************/
/* -------- MOBILE --------------- */
.site-branding {
  text-align: center;
  background-color: #FA707F;
  font-family: 'Alegreya Sans SC', sans-serif; }
  .site-branding:after {
    content: "";
    display: table;
    clear: both; }
  .site-branding .site-logo {
    display: none; }
  .site-branding .site-title {
    margin: 0;
    padding: 20px 0;
    color: white;
    text-transform: uppercase; }

.intro {
  display: none; }

.menu, .product-listing {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.site-menu {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Alegreya Sans SC', sans-serif; }
  .site-menu li {
    background-color: #24B1A9;
    border-bottom: 1px solid white;
    padding: 2px 0; }
    .site-menu li a:link {
      text-decoration: none;
      color: white; }
    .site-menu li a:visited {
      text-decoration: none;
      color: white; }
    .site-menu li a:hover {
      color: #FFE29C; }

.product {
  padding: 0.5em 0; }
  .product img {
    display: none; }

.product-meta {
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }
  .product-meta h2 {
    background-color: #FFE29C;
    color: #FA707F;
    margin: 0;
    padding: 0.5em;
    text-align: center; }
  .product-meta a:link {
    text-decoration: none;
    color: #24B1A9; }
  .product-meta a:visited {
    text-decoration: none;
    color: #24B1A9; }
  .product-meta .product-link {
    font-style: italic;
    margin-left: 0.5em; }
  .product-meta h2 {
    font-family: 'Alegreya Sans SC', sans-serif; }

.footer-menu {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Alegreya Sans SC', sans-serif; }
  .footer-menu li {
    background-color: #24B1A9;
    border-bottom: 1px solid white;
    padding: 2px 0; }
    .footer-menu li a:link {
      text-decoration: none;
      color: white; }
    .footer-menu li a:visited {
      text-decoration: none;
      color: white; }
    .footer-menu li a:hover {
      color: #FFE29C; }

address {
  font-size: 0.9em;
  text-align: center;
  padding: 10px;
  color: white;
  line-height: 1.5em;
  font-weight: normal;
  background-color: #FA707F; }
  address br {
    display: none; }

/* -------------667PX-----------------------------*/
@media screen and (min-width: 667px) {
  .product-listing {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .product-listing:after {
      content: "";
      display: table;
      clear: both; }
  .product {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .product:last-child {
      margin-right: 0; }
    .product:nth-child(2n) {
      margin-right: 0; }
    .product:nth-child(2n+1) {
      clear: left; }
  .site-branding {
    height: 40px;
    background-color: white; }
    .site-branding:after {
      content: "";
      display: table;
      clear: both; }
    .site-branding .site-logo {
      float: left; }
    .site-branding .site-title {
      padding: 0;
      height: 100%;
      margin: 0;
      color: white;
      text-transform: lowercase;
      background-color: #FA707F; }
    .site-branding .site-logo {
      display: inline; }
  .site-menu {
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1em;
    margin-left: 100px;
    background-color: #FFE29C;
    margin: 0;
    padding: 0.35em; }
    .site-menu li {
      background-color: transparent;
      border-bottom: 0;
      padding: 0 1em;
      display: inline; }
      .site-menu li a:link {
        text-decoration: none;
        color: #FA707F; }
      .site-menu li a:visited {
        text-decoration: none;
        color: #FA707F; }
      .site-menu li a:hover {
        color: #24B1A9; }
  .content {
    padding: 1em 0; }
  .product img {
    display: inline-block; }
  .product .product-meta h2 {
    padding: 0 0 0 0.25em;
    color: #FA707F;
    text-align: left; }
  footer {
    background-color: #24B1A9; }
    footer:after {
      content: "";
      display: table;
      clear: both; }
    footer .footer-menu {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Alegreya Sans SC', sans-serif;
      padding: 1em; }
      footer .footer-menu li {
        display: inline;
        border-bottom: 0;
        padding: 2px 4px;
        background-color: transparent; }
        footer .footer-menu li a:link {
          text-decoration: none;
          color: white; }
        footer .footer-menu li a:visited {
          text-decoration: none;
          color: white; }
        footer .footer-menu li a:hover {
          color: #FFE29C; } }

/* -------------------- 900PX ----------------------*/
@media screen and (min-width: 900px) {
  .intro {
    display: block;
    text-align: center;
    color: #24B1A9;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: italic;
    font-size: 2em;
    margin: 0; }
  .product {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .product:nth-child(2n) {
      margin-right: 2.35765%; }
    .product:nth-child(2n+1) {
      clear: none; }
    .product:last-child {
      margin-right: 0; }
    .product:nth-child(4n) {
      margin-right: 0; }
    .product:nth-child(4n+1) {
      clear: left; } }
